// layout
$navbarHeight = 3.75rem
$themeContainerWidth = 1100px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 700px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
